<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create User</title>
        <style>
            body{
                text-align:center;
            }
            .home{
                margin-left: 500px;
            }
            .label {
                margin-right: 95px;
            }
            .label1{
                margin-right: 130px;
            }
        </style>
    </head>
    <body>
        <h1>Add a New User</h1>
        <div class="home"><a href="/users">Home</a></div>
        <form action="/users/create" method="post">
            <input type="hidden" name="add_user" value="add">
            <p class="label">First Name:</p>
                <p><input type="text" name="fname"></p>
                <p class="label">Last Name:</p>
                <p><input type="text" name="lname"></p>
                <p class="label1">Email:</p>
                <p><input type="text" name="email"></p>
                <br><br><br>
            <input type="submit" value="Create">
        </form>
        
    </body>
</html>